[submodule "include/argh"]
	path = include/argh
	url = https://github.com/adishavit/argh
[submodule "include/fmt"]
	path = include/fmt
	url = https://github.com/fmtlib/fmt
[submodule "include/cpp-linenoise"]
	path = include/cpp-linenoise
	url = https://github.com/yhirose/cpp-linenoise
