[submodule "lib/argh"]
	path = lib/argh
	url = https://github.com/adishavit/argh
[submodule "lib/cpp-linenoise"]
	path = lib/cpp-linenoise
	url = https://github.com/yhirose/cpp-linenoise
[submodule "lib/fmt"]
	path = lib/fmt
	url = https://github.com/fmtlib/fmt
[submodule "lib/utfcpp"]
	path = lib/utfcpp
	url = https://github.com/nemtrif/utfcpp
